<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form action="#" th:action="@{/register}" th:object="${formData}" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}">
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:field="*{username}">
    </div>
    <div>
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" th:field="*{phone}">
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>
</form>
</body>
</html>
