<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Set Password</title>
</head>
<body>
<h1>Set Password</h1>
<form action="#" th:action="@{/setpassword}" method="post">
    <input type="hidden" name="email" th:value="${email}">
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <button type="submit">Set Password</button>
    </div>
    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>
</form>
</body>
</html>
